name: Tests

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

permissions:
  contents: read

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - run: bun install
      - name: Cache tools
        uses: actions/cache@v5
        with:
          path: |
            ./.tools
          key: ${{ runner.os }}-aptre-tools-${{ hashFiles('**/go.sum') }}
      - run: bun run build
      - run: bun run test:js
      - name: Install protobuf library
        run: sudo apt-get install -y libprotobuf-dev
      - run: bun run test:go
      - run: bun run lint:js
      - run: bun run lint:go
      - run: bun run deps
      - run: go run ./cmd/aptre release check
